@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --spotlight-w: 896px;
    --spotlight-h: 46vh;
    --spotlight-w-mobile: 430px;
    --spotlight-h-mobile: 46vh;
    --dark-bg: #070C0C;
    --dark-fg: #FBDFB0;
    --dark-cta: #437373;
    --light-bg: #FFFFFF;
    --light-fg: #070C0C;
    --light-cta: #737373;
    --dark-border: #1E3333;
    --light-border: #CCCCCC;
    --dark-preset-fg: #999999;
    --light-preset-fg: #666666;
    --dark-timer-total: #191E1E;
    --dark-timer-elapsed: #474B4B;
    --light-timer-total: #E1E1E1;
    --light-timer-elapsed: #B5B5B5;
}

html, body {
    padding: 0;
    position: relative;
    overflow-y: hidden;
}

body {
    height: 100vh;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

div.content {
    display: grid;
    position: relative;
    grid-template-columns: 1fr var(--spotlight-w) 1fr;
    grid-template-rows: auto auto auto auto auto auto 1fr;
    width: 100%;
    height: 100%;
    margin: 0;
    grid-gap: 40px;
}

div.content.dark {
    background: var(--dark-bg);
    color: var(--dark-fg);
    font-weight: 500;
    transition: background 1s;
}

div.content.light {
    background: var(--light-bg);
    color: var(--light-fg);
    font-weight: 500;
    transition: background 1s;
}

div.timer-selector {
    grid-column: 2/3;
    margin-top: 24px;
    display: flex;
    gap: 24px;
    justify-content: center;
}

div.timer-preset {
    cursor: pointer;
    border-radius: 50px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    border: 2px solid;
    background: rgba(0,0,0,0);
    font-weight: 500;
}

div.timer-selector.light > div.timer-preset {
    color: var(--light-preset-fg);
    border-color: var(--light-border);
    transition: border-color 1s;
}

div.timer-selector.dark > div.timer-preset{
    color: var(--dark-preset-fg);
    border-color: var(--dark-border);
    transition: border-color 1s;
}

div.timer-container {
    position: relative;
    grid-column: 1/4;
    margin-top: 24px;
    margin-left: 80px;
    margin-right: 80px;
    height: 6px;
    border-radius: 10px;
}

div.timer-container.disabled {
    background: none;
}

div.timer-container.disabled > * {
    display: none;
}


div.timer-container > div.elapsed-time {
    width: 100%;
    position: absolute;
    z-index:2;
    height: 6px;
    border-radius: 10px;
}

div.timer-container.dark {
    background: var(--dark-timer-total);
    transition: background 1s;
}

div.timer-container.light {
    background: var(--light-timer-total);
    transition: background 1s;
}

div.timer-container.dark > div.elapsed-time {
    background: var(--dark-timer-elapsed);
    transition: background 1s;
}

div.timer-container.light > div.elapsed-time {
    background: var(--light-timer-elapsed);
    transition: background 1s;
}

div.menu-ctas {
    display: flex;
    gap: 12px;
    padding-left: min(80px, 4vw);
    padding-right: min(80px, 4vw);
    padding-top: 20px;
    grid-column: 2/4;
    justify-content: flex-end;
}

div.menu-item > button, a {
    border-radius: 50%;
    padding: 4px;
    border: none;
    background: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
}

div.light > div.menu-ctas > div.menu-item > button:focus {
    outline: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

div.light > div.menu-ctas > div.menu-item > a:focus {
    outline: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

div.dark > div.menu-ctas > div.menu-item > button:focus {
    outline: none;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

div.dark > div.menu-ctas > div.menu-item > a:focus {
    outline: none;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

div.menu-item > button > img.menu-cta {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

div.header {
    grid-column: 2/3;
    font-weight: 500;
    font-size: 50.52px;
    text-align: center;
}

div.task-name {
    grid-column: 2/3;
    grid-row: 3/5;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 67.34px;
    font-weight: 500;
    padding-top: 200px;
    padding-bottom:60px;
    padding-left: 40px;
    padding-right: 40px;
}

div.task-name.dark {
    color: var(--dark-fg);
}

div.task-name.light {
    color: var(--light-fg);
}


div.input {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
}

textarea {
    width: 80%;
    resize: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 21.33px;
    border-radius: 10px;
    outline: none;
    background: rgba(0,0,0,0);
    padding: 24px;
    border-width: 1px;
    border-style: solid;
}

textarea.light {
    border-color: var(--light-border);
    color: var(--light-fg);
    transition: border-color 1s;
    transition: color 1s;
}

textarea.dark {
    background: rgba(0,0,0,0);
    border-color: var(--dark-border);
    color: var(--dark-fg);
    transition: border-color 1s;
    transition: color 1s;
}


textarea.dark::placeholder {
    text-align: center;
    color: var(--dark-cta);
}

textarea.light::placeholder {
    text-align: center;
    color: var(--light-cta);
}

div.task-cta {
    display: flex;
    grid-column: 2/3;
    justify-content: center;
}

div.task-cta > button {
    border-radius: 50%;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
}

div.light > div.task-cta > button:focus {
    outline: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

div.dark > div.task-cta > button:focus {
    outline: none;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

div.task-cta > button > img {
    cursor: pointer;
    width: 72px;
    height: 72px;
}


div.spotlight {
    position: absolute;
    grid-column:2/3;
    top: 100vh;
    z-index: 10;
    width: max(var(--spotlight-w), 56vw);
    height: var(--spotlight-h);
    border-radius: 50%;
}

div.spotlight.dark {
    transition: color 2s;
    box-shadow: 0px 4px 50px 50px rgba(251, 251, 249, 0.77);
}

div.spotlight.light {
    box-shadow: 0px 4px 50px 60px var(--dark-fg);
    transition: color 2s;
}



@media only screen and (max-width: 1000px) {
    div.content {
        grid-template-columns: 16px 1fr 16px;
        grid-gap: 20px;
    }

    div.spotlight {
        width: 100%;
    }
}

@media only screen and (max-height: 600px) {
    div.spotlight {
        display: none;
    }
}

@media only screen and (max-width:430px) {
    div.content {
        grid-template-columns:  40px 1fr 40px;
        grid-gap:0;
    }


    div.spotlight {
        grid-column: 1/4;
        width: 100%;
        height: var(--spotlight-h-mobile);
    }

    div.menu-ctas {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 20px;
        margin-bottom: 32px;
    }
    
    div.timer-container, div.timer-selector {
        margin-bottom: 0px;
        margin-left: 16px;
        margin-right: 16px;
    }

    div.timer-selector {
        row-gap: 8px;
        flex-wrap: wrap;
    }

    div.header {
        font-size: 28.43px;
        margin-bottom: 40px;
    }

    div.input {
        margin-bottom: 40px;
    }

    div.task-name {
        font-size: 37.9px;
        padding-top: 15vh;
        padding-bottom:60px;
        padding-left: 0px;
        padding-right: 0px;
    }

    div.task-cta > img {
        width: 60px;
        height: 60px;
    }

    textarea {
        width: 100%;
        box-sizing: border-box;
        font-size: 16px;
    }

    div.spotlight.dark {
        transition: color 2s;
        box-shadow: 0px 4px 75px 75px rgba(251, 251, 249, 0.77);
    }

    div.spotlight.light {
        box-shadow: 0px 4px 75px 90px var(--dark-fg);
        transition: color 2s;
    }
}
